@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Lalezar&family=Amiri:wght@400;700&family=Changa:wght@800&family=Tajawal:wght@800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  direction: rtl;
}

body {
  @apply bg-white text-gray-900;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}